div.art2 a {
 text-decoration: none;
 color: #003399;
 border-bottom: 1px dotted #bbb;
}

img {
	border: 0px;
}
#menu_top {
	color: #000000; 
	font-family : Tahoma,Verdana,Arial;
	font-size: 12px;
	font-weight: bold;
}
#menu_top a {
	color: #003399;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
#menu_top a:hover {
	color: #0000ff;
}
body {
	color: #000000;
	background-color: #ffffff;
	margin-top: 3px;
}
body, div, td {
	font-family: MS Sans Serif, MS Serif, Batang;	
	font-size: 10pt;
}
a:link, 
a:visited,
a:active {
	color: #003399;
}
a:hover{
	color: #0000FF;
	text-decoration: none;
}
a.left_menu:link, 
a.left_menu:visited,
a.left_menu:active {
	color: #003399;
	padding-left: 2px;
}
a.left_menu:hover{
	text-decoration: none;
}
div.main_content {
	padding-left: 15px;
}


div.header {
	border: 1px solid #aaaaaa;
	border-bottom: none;
	width: 80%;
	height: 63px;
	background-color: #ffd900;
	text-align: left;
}
td.info_table{
	background-color: #f4f7f7;
	width: 14.2%;
	height: 23px;
	text-align: center;

	font-family : Tahoma,Verdana,Arial;
	font-size: 12px;
}
td.atr_td1{
	background-color: #f4f7f7;
	width: 15%;
	height: 23px;
	text-align: center;

	font-family : Tahoma,Verdana,Arial;
	font-size: 12px;
}
td.atr_td2{
	background-color: #f4f7f7;
	height: 23px;
	padding-left: 7px;

	font-family : Tahoma,Verdana,Arial;
	font-size: 12px;
}
td.atr_space{
	background-color: #f4f7f7;
	height: 7px;
}
td.txt_table{
	background-color: #f4f7f7;
	height: 23px;

	font-family : Tahoma,Verdana,Arial;
	font-size: 12px;
}
td.t_wl{
	background-color: #f4f7f7;
	height: 23px;

	font-family : Tahoma,Verdana,Arial;
	font-size: 12px;
}
td.source_table{
	background-color: #f4f7f7;
	height: 23px;
	text-align: left;
	padding: 10px;
}
td.menu_item {
	background-color: #ccccff;
	width: 14.2%;
	text-align: center;
	font-weight: bold;

	font-family : Tahoma,Verdana,Arial;
	font-size: 12px;
}
div.spacer {
	width: 100%;
	display: block;
	height: 2px;
}
td.left_column {
	width: 179px;
	border: 1px solid #aaaaaa;
	background-color: #FFFFFF;
	vertical-align: top;
}
div.left_news {
	padding-left: 5px;
}
div.left_text {
	text-indent: 5px;
	padding-left: 3px;
	padding-right: 3px;
	font-family : Tahoma,Verdana,Arial;
	font-size: 11px;
}
div.content {
	border: 1px solid #aaaaaa;
	padding-right: 5px;
}
div.source {
	padding: 10px;
	border: 1px solid #e0e0e0;
	background-color: #f4f7f7;
}
div.art {
	padding-left: 10px;
}
div.news {
	padding-left: 100px;
	padding-right: 50px;
	font-family : Tahoma,Verdana,Arial;
	font-size: 11px;
}
h2 {
	text-align: center;
	font-size: 11pt;
	margin: 15px;
	font-weight: bold;
	font-family : Tahoma,Verdana,Arial;
}


.Star {
	COLOR: #FF0000;
}
.FormButton {
	COLOR: #000000; FONT-WEIGHT: bold; FONT-SIZE: 10px;
}
.DialogBox {
	BACKGROUND-COLOR: #ffffff;
}
.DialogBorder {
	BACKGROUND-COLOR: #DDDDDD;
}
.DialogTitle {
	COLOR: #000000; FONT-WEIGHT: bold; FONT-SIZE: 11px;
}
.bot {
	color : #000000;
	margin-top : 5px;
	padding-bottom : 10px;
	margin-bottom : 0px;
	margin-left : 10px;
	margin-right : 10px;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
}
.details {
	color : #000000;
	margin-left : 10px;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
	height: 40px;
}
.lhead {
	color : #0000DD;
	margin-top : 15px;
	margin-bottom : 3px;
	margin-left : 5px;
	font-size : 13px;
	font-family : Tahoma,Verdana,Arial;
	font-weight: bold;
}
.footer {
	color : #000000;
	margin-bottom : 0px;
	margin-left : 10px;
	margin-right : 10px;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
	font-weight: bold;
}
.menu_top {
	color: White; 
	font-family : Tahoma,Verdana,Arial;
	font-size: 12px;
	font-weight: bold;
}
